extends layout

block content
  h1 #{title}
  div.clsSel
    form(name="frmgetdata",method="post",action="/getdatas")
      table
        tr
          td
            input(type="radio",name="type",value="1")
            | 个股资金流入
        tr
          td
            input(type="radio",name="type",value="2")
            | 主力资金流入
        tr
          td
            input(type="radio",name="type",value="3")
            | 板块资金流入
        tr
          td
            | 数据日期:
            input(type="text",name="ymd",placevalue="YYYYMMDD")
            | (格式:YYYYMMDD)
        tr
          td
            input(type="submit",name='提 交')
  div#selRlt
    if isgetdata
      if success
        h2 数据插入成功！
      else
        h2 数据插入失败！
        p.description #{err}
