extends layout

block append script
    script(type="text/javascript", src="/javascripts/gethybk.js")
    script(type="text/javascript", src="/javascripts/gethybkajax.js")
    script(type="text/javascript", src="/javascripts/gethybkechart.js")
    script(type="text/javascript", src="/javascripts/comm.js")
    script(src="//code.jquery.com/ui/1.12.1/jquery-ui.js")
    link(rel='stylesheet', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
    link(rel='stylesheet', href='//jqueryui.com/resources/demos/style.css')

block content
    h1 #{title}
    div.clsSel
        //form(name="frmgethybk",method="post",action="/gethybk")
        //form(name="frmgethybk")
        table
            tr
                td
                    b ※功能:①选板块代码+详细复选框:板块资金流入检索②按条件统计资金状况
                    tr
                        td
                            | 板块代码:
                            select(id="selcode",name="selcode")
                                option(value="")
                                each code in codes
                                    option(value="#{code}") #{code}
                            input(type='checkbox',id='chkhybkdetail',name='chkhybkdetail')
                            | 详细
                    tr
                        td
                            | 数据日期:
                            input(type="text",id="txtymd",name="txtymd")
                            | (格式:YYYYMMDD)
                    tr
                        td
                            | 开始日期:
                            input(type="text",id="txtymdfrom",name="txtymd")
                            | (格式:YYYYMMDD)
                    tr
                        td
                            //input(type="submit",name='提 交')
                            button(onclick="getByCode()") 获取数据
    div#selRlt
    div#selData
    div#chartData(style="width:100%;height:400px;")
