extends layout

block append script
  script(type="text/javascript", src="/javascripts/getmst.js")
  script(type="text/javascript", src="/javascripts/getmstajax.js")
  script(type="text/javascript", src="/javascripts/updatemstajax.js")

block content
  h1 #{title}
  div.clsSel
    //form(name="frmgetdata",method="post",action="/getmst")
    table
        tr
          td
            input(type="radio",name="rdotype",value="1")
            | 个股列表
        tr
          td
            input(type="radio",name="rdotype",value="3")
            | 行业板块列表
        tr
          td
            input(type="radio",name="rdotype",value="2")
            | 行业板块+个股列表
      tr
        td
          button(type="button",onclick='getmst()') 获取数据
        td →
        td
          button(type="button",onclick='updategg()') 更新个股所在板块
        td →
        td
          button(type="button",onclick='updatezl()') 更新主力所在板块
  div#selRlt
  div#selData
