extends layout

block append script
  script(type="text/javascript", src="/javascripts/getmst.js")
  script(type="text/javascript", src="/javascripts/getmstajax.js")

block content
  h1 #{title}
  div.clsSel
    //form(name="frmgetdata",method="post",action="/getmst")
    table
        tr
          td
            input(type="radio",name="rdotype",value="1")
            | 个股列表
        tr
          td
            input(type="radio",name="rdotype",value="3")
            | 行业板块列表
        tr
          td
            //input(type="submit",name='获取数据')
            button(type="button",onclick='getmst()') 获取数据
  div#selRlt
  div#selData
